<div class="melbpclocation">
  <h2>Location</h2>
  <div>Level 1, Suite 26 </div> 
  <div>479 Warrigal Road </div> 
  <div>Moorabbin</div>
  <a href="/map/" style="display:block;">Map</a>
</div>
<div class="nextmeeting">
  <h2>Next Meeting</h2>
  <div id="nextmeetingdate"></div>
  <div id="nextmeetingtime">2PM - 4PM</div>
  <a href="/about/#meeting-calendar" style="display:block;">Calendar</a>
  </div>
<div>
  <h2>Live meeting</h2>
  <a href="http://bit.ly/raspberrypisig">Click here</a>
</div>
<div class="tagcloud">
  <h2>Tags</h2>
  <div style="padding-top:0.5em;">{% include mohan-category-list.html %}</div>
</div>

